In [3]:
import pandas as pd

In [6]:
dataset_path = 'Dataset/gapminder.tsv'

df = pd.read_csv(dataset_path, sep='\t')

In [8]:
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.shape

(1704, 6)

In [11]:
df.columns

Index(['country', 'continent', 'year', 'lifeExp', 'pop', 'gdpPercap'], dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [23]:
country_df = df['country']
print(type(country_df))
print(country_df.head(10))
print(country_df.tail(10))

<class 'pandas.core.series.Series'>
0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
5    Afghanistan
6    Afghanistan
7    Afghanistan
8    Afghanistan
9    Afghanistan
Name: country, dtype: object
1694    Zimbabwe
1695    Zimbabwe
1696    Zimbabwe
1697    Zimbabwe
1698    Zimbabwe
1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [22]:
subset = df[['country', 'continent', 'year']]
print(type(subset))
print(subset.head(10))
print(subset.tail(10))

<class 'pandas.core.frame.DataFrame'>
       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972
5  Afghanistan      Asia  1977
6  Afghanistan      Asia  1982
7  Afghanistan      Asia  1987
8  Afghanistan      Asia  1992
9  Afghanistan      Asia  1997
       country continent  year
1694  Zimbabwe    Africa  1962
1695  Zimbabwe    Africa  1967
1696  Zimbabwe    Africa  1972
1697  Zimbabwe    Africa  1977
1698  Zimbabwe    Africa  1982
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007